@import "tailwindcss";

body {
  background: white;
  color: black;
  font-family: SF Pro Display, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.landing {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid green; */
  width: 100vw;
  height: 100vh;
}
